### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [329]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [330]:
#Use Len function to find how many values are in purchase datapd
tot_players = len(purchase_data["SN"].value_counts())

#Create a dataframe with Total Players as the Title
tot_playersdf = {'':[''], 'Total Players':[Tot_players]}
df = pd.DataFrame(Tot_playersdf, columns = ['', 'Total Players'])
df

     Total Players
0              576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [331]:
#performing calculations for above and checking
# number of unique items
len_unique_id = len(purchase_data["Item ID"].unique())
#len_unique_id
avg_price = purchase_data["Price"].mean()
# avg_price
tot_purchases = len(purchase_data)
# tot_purchases
tot_rev = purchase_data["Price"].sum()

#Create a new DataFrame for Values above by first converting to a dictionary
New_Df = {'':[''], 'Number of Unique Items':[len_unique_id], 'Average Price':[avg_price], 'Number of Purchases':[tot_purchases], 'Total Revenue':[tot_rev]}
New_Df
New_df1 = pd.DataFrame(New_Df, columns = ['','Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])

# formatting average price and total revenue
New_df1.style.format({'Average Price':"${:,.2f}",'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [332]:
# Make column 1 Gender using groupby to see info more clearly
mf_grouping = purchase_data.groupby("Gender")
mf_grouping.count().head(10)
# using nunique to count all unique values source:https://www.geeksforgeeks.org/python-pandas-series-nunique/
gender_count = mf_grouping.nunique()["SN"]
# calculating percentage of players using total player function previously created
percentage = (gender_count/tot_players*100)
# create a DataFrame for the information
gender_df=pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percentage})
# Change the formatting and order (was not sure how to put formatting and order together so asked for assistance)
gender_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [333]:
# Calculations
# Purchase Count
purchase_count= mf_grouping["Item ID"].count()
# Average purchase price
avg_price = mf_grouping["Price"].mean()
# Total purchase value
tot_val = mf_grouping["Price"].sum()
# Avg total purchase per person
tot_pp = tot_val/gender_count

# Create the dataframe pre formatting
genval_df=pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_price,
                        "Total Purchase Value": tot_val,  "Avg Total Purchase per Person": tot_pp})

# Change the formatting
genval_df.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}","Avg Total Purchase per Person":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [334]:
# create bins with labels
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]
group_labels = ["<10" ,"10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Use cut function to bring Dataframe into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels, include_lowest=True)

# Group by Age Group
age_grouped = purchase_data.groupby("Age Group")

# Find total count per age group
age_tot_count = age_grouped.nunique()["SN"]
# ages_tot_count
# Find Percentage by age
age_percent = (age_tot_count/tot_players)*100
# Create a DataFrame
Age_Demo_df = pd.DataFrame({"Total Count": ages_tot_count, "Percentage of Players": ages_percent})
# Delete the index name in the 1st column
Age_Demo_df.index.name = None
# Change the formatting
Age_Demo_df.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [335]:
# Purchase Count
ages_purchase_count= ages_grouped["Item ID"].count()

# Average purchase price
ages_avg_price = ages_grouped["Price"].mean()

# Total purchase value
ages_tot_val = ages_grouped["Price"].sum()

# Avg total purchase per person (got a little confused here bc we had to use age_tot_count instead of age purch count)
ages_tot_pp = ages_tot_val/age_tot_count

# Create a DataFrame
Age_Demo_df = pd.DataFrame({"Purchase Count": ages_purchase_count, "Average Purchase Price": ages_avg_price,
                            "Total Purchase Value": ages_tot_val, "Avg Total Purchase per Person": ages_tot_pp})

# Change the formatting
Age_Demo_df.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}","Avg Total Purchase per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [336]:
# Group by SN
sn_grouping = purchase_data.groupby("SN")
# Purchase Count
sn_purchase_count= sn_grouping["Purchase ID"].count()
# Average purchase price
sn_avg_price = sn_grouping["Price"].mean()
# Total purchase value
sn_tot_val = sn_grouping["Price"].sum()

# Create the dataframe pre formatting
spender_df=pd.DataFrame({"Purchase Count": sn_purchase_count, "Average Purchase Price": sn_avg_price,
                        "Total Purchase Value": sn_tot_val})
# Sort in descending order to obtain top 5 spender names 
formatted_spenders_df = spender_df.sort_values(["Total Purchase Value"], ascending=False).head()

# Change the formatting
formatted_spenders_df.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [337]:
#Create a new dataframe with items needed
id_items= purchase_data[["Item ID", "Item Name", "Price"]]
# Group by Item ID and then by Item Name
id_grouping = id_items.groupby(["Item ID","Item Name"])
# Purchase Count
id_purchase_count= id_grouping["Item ID"].count()
# Total Purchase Value
id_tot_price = id_grouping["Price"].sum()
# Individual Price Value
id_ind_val = id_tot_price/id_purchase_count

# Create the dataframe pre formatting
popular_df=pd.DataFrame({"Purchase Count": id_purchase_count, "Item Price": id_ind_val,"Total Purchase Value": id_tot_price})

# Sort in descending order to obtain top 5 Most Popular Items 
formatted_popular_df = popular_df.sort_values(["Purchase Count"], ascending=False).head()

# Change the formatting
formatted_popular_df.style.format({"Total Purchase Value":"${:.2f}","Item Price":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [338]:
# Sort in descending order to obtain top 5 Most Profitable Items 
formatted_profitable_df = popular_df.sort_values(["Total Purchase Value"], ascending=False).head()

# Change the formatting
formatted_profitable_df.style.format({"Total Purchase Value":"${:.2f}","Item Price":"${:.2f}"})